@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

body
{
    font-family: 'Tinos', serif;
}

.underline
{
    width: 6rem;
    height: 0.25rem;
    background: lightblue;
    margin-left: auto;
    margin-right: auto;
}

.card
{
    width:30rem;
    background:white;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.flex-div
{
    display: flex;
}

.card-title
{
    flex: 2;
}

.badge
{
    background-color: lightblue;
}

.btn
{
    padding: 0 0;
}

.text-info
{
    cursor: pointer;
}

.text-info:hover
{
    text-decoration: underline;
}